<h2 class="title is-2">Edit <%= movie.filmName %></h2>

<form action="/movies/<%= movie.id %> " method="post">
<div class="field">
<label class="label" for="filmName">Film Name:</label>
  <div class="control">
<input class="input" type="text" name="filmName" value="<%= movie.filmName %>">
  </div>


</div>
<div class="field">
<label class="label" for="coverPic">Picture</label>
  <div class="control">
<input class="input" type="text" name="coverPic"  value="<%= movie.coverPic %>">
  </div>

</div>
<div class="field">
<label class="label" for="releaseYear">Year Released:</label>
  <div class="control">
<input class="input" type="number" name="releaseYear" value="<%= movie.releaseYear %>">
  </div>

</div>
<div class="field">
<label class="label" for="IMDbRating">IMDb Rating:</label>
  <div class="control">
<input class="input" type="text" name="IMDbRating" value="<%= movie.IMDbRating %>">
  </div>

</div>
<div class="field">
<label class="label" for="genres">Genres</label>
  <div class="control">
<input class="input" type="text" name="genres" value="<%= movie.genres %>">
  </div>

</div>

<input type="hidden" name="_method" value="put">

<button class="button is-rounded">Edit Movie</button>
</form>
