<div class="columns is-2">
  <div class="column is-half is-narrow">

    <img src="<%= movie.coverPic %>" alt="movie.filmName">
</div>
<div class="column is-half is-narrow">
    <h2 class= "subtitle is-2">Movie Name: <%= movie.filmName %></h2>
    <h2 class= "subtitle is-2">Release Year: <%= movie.releaseYear %></h2>
    <h2 class= "subtitle is-2">IMDb Rating: <%= movie.IMDbRating %> /10</h2>
    <h4 class= "subtitle is-2">Genres : <%= movie.genres %></h4>
    <h2 class= "subtitle is-2">Famous quote(s): </h2>

    <% movie.quotes.forEach(quote => { %>

      <article class="media">
      <div class="media-content">
      <div class="content">
      <p>
      <strong><%= quote.charactorName %></strong>
      <br>
      <%= quote.quote %>
      </p>
      </div>
      <nav class="level is-mobile">
      <div class="level-left">
      <a class="level-item">
    <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
      </a>
      </div>
      </nav>
      </div>
      <div class="media-right">
      <form action="/movies/<%= movie.id %>/quotes/<%= quote.id %>" method="POST">
      <button class="delete"></button>
        <input type="hidden" name="_method" value="DELETE">
      </form>
      </div>
      </article>

      <hr>
      <% }) %> </p>





        <span class="buttons">
          <a class="button is-small is-info is-rounded" href="/movies/<%= movie.id %>/quotes/new">Add Quote </a>
          </form>
          <button class="button is-small is-success is-rounded">👍 </button>
          <a class="button is-small is-info is-rounded" href="/movies/<%= movie.id %>/edit">Edit </a>
          <form action="/movies/<%= movie.id %>" method="POST">
            <button class="button is-small is-danger is-rounded" title="Dont Do it! 😵">Delete</button>
            <input type="hidden" name="_method" value="DELETE">
          </form>
        </span>

  </div>

</div>

<hr>
